<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Magicians</h1>
    </header>
    <main>
        <section>
            <a href="/character/gryffindor" ><img src="../gryffindor.png" alt="" width="250px" height="250px"> gryffindor</a>
            <a href="/character/hufflepuff"><img src="../hufflepuff.png" alt=""  width="250px" height="250px"> hufflepuff</a>
            <a href="/character/ravenclaw"><img src="../ravenclaw.png" alt="" width="250px" height="250px"> ravenclaw</a> 
            <a href="/character/slytherin"> <img src="../slytherin.png" alt="" width="250px" height="250px"> slytherin</a>
        </section>
    </main>
</body>
</html>